:root {
  --msg-color: #db2c3d;
}

* {
  font-family: 'roboto';
}

button, input[type="submit"]{
  outline: none !important;
}

.avatar {
  width: 100%;
}

body {
  background-image: url('../assets/wallpapers/119.gif');
  background-size: cover;
  overflow: hidden;
}

.messageBox {
  height: 65vh;
  overflow-y: scroll;
  background-position: center;
  background-size: cover;
}

p.single-message {
  background: var(--msg-color);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 0;
}

#users-box {
  background: #073045;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

p.single-message > img {
  width: 100%;
  cursor: pointer;
}

.clicked {
  background-color: rgb(28, 161, 68) !important;
}

p {
  font-size: 14px;
}

.red-background {
  background: #dc3545 !important;
}

.blue-background {
  background: #073045 !important;
}

@media only screen and (max-width : 768px) {
  #users-box, #github-box {
    display: none;
  }
}
  
#github-repos {
  height: 73.5vh;
  overflow-y: scroll;
}

#github-repos em{
  font-size: 13px;
}