:root {
  --msg-color: steelblue; 
}

button, input[type="submit"]{
  outline: none !important;
}

iframe {
  width: 100%;
}

#nickWrap {
  margin-top: 14vh;
}

body {
  /* background: #e52d27;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #b31217, #e52d27); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-image: url(https://res.cloudinary.com/karl-tech/image/upload/v1504037663/ethereum-coffee-roach_aajijn.jpg); */
  /* background-size: cover; */
  background-image: url(https://linux.pictures/content/1-projects/200-solarized-dark-wallpaper/solarized-wallpaper-arch.png);
  /* Space background */
  /* https://i.imgur.com/H0ZWBv8.jpg */
  background-size: cover;
}

#contentWrap {
  display: none;
}

#nickWrap {
  border-radius: 15px;
}

.messageBox {
  height: 60vh;
  overflow-y: scroll;
}

p.single-message {
  background: var(--msg-color);
  /* background-color: firebrick; */
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 0;
}

#users-box {
  background: var(--msg-color);
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

p.single-message > img {
  width: 100%;
  cursor: pointer;
}

.clicked {
  background-color: rgb(28, 161, 68) !important;
}

p {
  font-size: 15px;
}

button[id^="color-"] {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

button#color-1{
  background-color: steelblue;
}

button#color-2{
  background-color: #dc3545;
}

.card-header > * {
  display: inline-block;
}

#colors {
  float: right;
}

.red-background {
  background: firebrick !important;
}