body {
  background-image: url('../assets/wallpapers/119.gif');
  background-color: rgb(38, 37, 39);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  font-family: 'roboto';
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#profilePicture {
  width: 100px;
}

#registerCard {
  opacity: 0.9;
  border-radius: 35px;
  padding: 10px;
}

#registerForm__submit {
  padding: 10px;
  background-color: #073045;
  border-color: #073045;
  outline-color:#073045;
}

#registerForm__submit:hover {
  background-color: #062636;
}
